.config/BraveSoftware/
.config/Code - OSS/
.config/fcitx5/
.config/gh/
.config/ibus/
.config/kritadisplayrc
.config/kritarc
.config/mozc/
.config/neofetch/
.config/pulse/
.config/window-geometry.conf
.config/zoom.conf
.config/zoomus.conf
.gnupg/
.links/
.local/scripts/
.mozilla/
.npm/
.nvim/
.parallel/
.pulse-cookie
.ssh/
.steam/
.steampath
.steampid
.vscode-oss/
.w3m/
.wine/
archiso/
code/
dl/
doc/
img/
mus/
steam.desktop
vid/
