* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 2px;
    padding: 0 2px;
}

window#waybar {
    /*background-color: rgba(43, 48, 59, 0.5);*/
    background-color: rgba(25, 23, 36, 0.5);
    color: #ffffff;
    transition-property: background-color;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button {
    padding: 0;
    margin: 0 2px;
    border-radius: 0;
    color: #908caa;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #31748f;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #ff0000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#wireplumber.muted {
    color: #6e6a86;
}

#tray {
    background-color: #9ccfd8;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


